* {
  box-sizing: border-box;
  font-family: "Hi Melody", cursive;
}
ul {
  padding: 0;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}
body {
  background-color: #ced3df;
  background: url(images/background/2.png) no-repeat center/cover;
  text-align: center;
}

section {
  height: 600px;
}
.container {
  width: 400px;
  margin: auto;
  background-color: #f1f0f7;
  border-radius: 20px;
}

.header {
  height: 48px;
  padding: 8px;
  font-size: 24px;
  background: rgba(237, 193, 211);

  background: linear-gradient(
    166deg,
    rgba(237, 193, 211, 1) 0%,
    rgba(219, 192, 216, 1) 35%,
    rgba(127, 188, 242, 1) 100%
  );

  border-radius: 20px 20px 0 0;
  color: #fff;
}

#main {
  display: flex; /*flex*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main__title {
  font-family: "Nanum Brush Script", cursive;
  letter-spacing: 1px;
  font-size: 40px;
  color: #555;
}
.main__desc {
  font-family: "Noto Sans KR", sans-serif;
  padding: 0 30px;
  font-size: 14px;
  margin-bottom: 30px;
}
#main button {
  width: 130px;
  padding: 13px 15px;
  margin: 5px 0;
  border-radius: 10px;
  color: #222;
  font-size: 16px;
  transition: transform 300ms;
}
#main button:hover {
  transform: scale(1.1);
}
.note1 {
  background-color: rgba(219, 192, 216, 1);
}
.note2 {
  background-color: rgba(127, 188, 242, 1);
}
.note3 {
  display: none;
  background-color: rgba(219, 192, 216, 1);
}

#daily {
  display: none;
}
.daily__weather {
  display: none;
  height: 600px;
  overflow: hidden;
}

.daily__weather-Q {
  /*h2 title*/
  font-size: 35px;
  margin: 120px 0 30px;
}
.answerList {
  /*buttons*/
  width: 26%;
  margin: 5px 10px;
}
.answerList img {
  width: 100%;
}
.daily__emotion {
  display: none;
  position: relative;
  height: 600px;
  overflow: hidden;
}
.daily__Note {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}
.daily__back {
  position: absolute;
  left: 5px;
  top: 7px;
  color: #ccc;
  cursor: pointer;
}
.daily__title {
  width: 100%;
  height: 10%;
  outline: none;
  padding: 20px;
  font-size: 22px;
  border: none;
  border-bottom: 1px solid #ddd;
}
.daily__text {
  width: 100%;
  height: 85%;
  line-height: 1.6;
  padding: 20px;
  outline: none;
  border: none;
  resize: none;
  font-size: 18px;
}
.daily__submit {
  height: 5%;
  font-size: 16px;
  color: #555;
  float: right;
  margin-right: 10px;
}
.daily__submit:hover {
  color: rgb(255, 110, 238);
}
.popup {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px 40px;
  box-shadow: 2px 4px 5px #ccc;
  display: none;
}
.popup__title {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}
.popup__btn {
  font-family: "Noto Sans KR", sans-serif;
  border: 1px solid #ccc;
}
#morning {
  display: none;
  overflow: hidden;
  position: relative;
}
#list {
  display: none;
  overflow: hidden;
}
.morning__submit {
  width: 50px;
  height: 30px;
  color: #555;
  float: right;
  background-color: #fff;
  border: 1px solid #ddd;
  transition: all 400ms;
  position: absolute;
  top: 44px;
  right: -12px;
}
.morning__submit:hover {
  font-size: 16px;
  background-color: rgb(231, 248, 252);
  right: 0;
}
.desc {
  font-family: "Noto Sans KR", sans-serif;
  width: 370px;
  height: 60px;
  font-size: 11px;
  text-align: left;
  padding: 8px 30px;
  margin: 15px auto 0;
  background-color: #fff;
  border-radius: 5px;
  line-height: 1.4;
}
.items {
  height: 495px;
  overflow-y: auto;
  margin: 0;
  font-size: 17px;
  text-align: left;
}

.item {
  padding: 8px 15px;
  margin: 10px;
  border-radius: 15px;
  background: rgba(237, 193, 211);
  display: inline-block;
  float: left;
  clear: both;
}
.item-sub {
  padding: 8px 15px;
  margin: 10px;
  border-radius: 15px;
  background: rgba(127, 188, 242, 1);
  display: inline-block;
  float: right;
  clear: both;
}

.footer {
  background: rgba(237, 193, 211);

  background: linear-gradient(
    166deg,
    rgba(237, 193, 211, 1) 0%,
    rgba(219, 192, 216, 1) 35%,
    rgba(127, 188, 242, 1) 100%
  );
  border-radius: 0 0 20px 20px;
  position: relative;
}
.message {
  width: 100%;
}
.footer__input {
  width: 88%;
  height: 32px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 400;
  padding: 0 16px;
  float: left;
  border-top: 1px solid rgba(237, 193, 211);
}

.footer__submit {
  width: 12%;
  height: 32px;
  float: right;
  background-color: rgba(237, 193, 211);
  font-size: 11px;
  padding: 0;
}
.footer__button {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 300ms ease-in;
  margin-top: 2px;
}
.circle {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(219, 192, 216, 0.8);
  border-radius: 50%;
  margin-left: -2px;
}
.footer__back {
  font-size: 20px;
  color: #eee;
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: transform 500ms ease-in;
}
.footer__button:hover {
  transform: scale(1.1);
}
.fa-chevron-left:hover {
  color: rgb(255, 128, 255);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn;
  animation-duration: 1s;
}

.fadeOut {
  animation: fadeOut;
  animation-duration: 1s;
}

@media screen and (max-width: 411px) {
  html,
  body {
    margin: 0;
    height: 100%;
  }
  .header {
    display: none;
  }
  .footer {
    display: none;
  }
  section {
    height: auto;
    height: 100%;
  }
  .container {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .main__desc {
    font-size: 14px;
  }
  .items {
    height: 84%;
    font-size: 14px;
  }
  .desc {
    font-size: 9px;
    padding: 10px;
    width: 100%;
  }
  .morning__submit {
    top: 52px;
  }
  .message {
    height: 5%;
    position: absolute;
    bottom: 0;
  }
  .popup {
    width: 200px;
  }
}
